.clr-field {
  position: relative;
}

.clr-field input {
  padding-left: 32px;
}

.clr-field button {
  border-radius: 5px;
  width: 22px !important;
  height: 22px !important;
  left: 5px;
  right: auto !important;
}